<div class="game row">
  <div class="col-4 offset-1 p-0"><img class="portrait" src="./assets/2D/char/morte.png" alt=""></div>
  <canvas class="col-6 p-0" #gameCanvas></canvas>
  <div class="col-12">
    <div class="row">
      <div class="col-4 p-0 offset-1">
        <div class="question-container h-100">
          <div class="question h-100">Di che colore è?</div>
          <div class="question h-100">Segni particolari?</div>
          <div class="question h-100">Cosa contiene?</div>
        </div>
      </div>
      <div class="col-6">
        <div class="row object-container py-4">
          <div class="object col-2 mx-2">OBJ 1</div>
          <div class="object col-2 mx-2">OBJ 2</div>
          <div class="object col-2 mx-2">OBJ 3</div>
          <div class="object col-2 mx-2">OBJ 4</div>
          <div class="object col-2 mx-2">OBJ 5</div>
        </div>
      </div>
    </div>
  </div>
</div>
